# OpenEngine Distribution.
# This file describes the default OpenEngine distribution.

# main repository
darcs / http://openengine.dk/code/openengine
darcs-dev / fh.daimi.au.dk:/users/cgd/code/openengine

# ColladaLoader project
darcs /projects/ColladaLoader     http://openengine.dk/code/projects/ColladaLoader
darcs-dev /projects/ColladaLoader fh.daimi.au.dk:/users/cgd/code/projects/ColladaLoader

# dist files
dist /extensions/SetupHelpers/SetupHelpers.dist			http://openengine.dk/code/extensions/SetupHelpers/SetupHelpers.dist
dist /extensions/Assimp/Assimp.dist   http://openengine.dk/code/extensions/Assimp/Assimp.dist


# standard set of extensions
darcs /extensions/FreeImage           http://openengine.dk/code/extensions/FreeImage
darcs /extensions/OpenGLSelection     http://openengine.dk/code/extensions/OpenGLSelection
darcs /extensions/OpenGLRenderer      http://openengine.dk/code/extensions/OpenGLRenderer
darcs /extensions/GenericHandlers     http://openengine.dk/code/extensions/GenericHandlers
darcs /extensions/Renderer2 	      http://openengine.dk/code/extensions/Renderer2

darcs-dev /extensions/FreeImage       fh.daimi.au.dk:/users/cgd/code/extensions/FreeImage
darcs-dev /extensions/OpenGLSelection fh.daimi.au.dk:/users/cgd/code/extensions/OpenGLSelection
darcs-dev /extensions/OpenGLRenderer  fh.daimi.au.dk:/users/cgd/code/extensions/OpenGLRenderer
darcs-dev /extensions/GenericHandlers fh.daimi.au.dk:/users/cgd/code/extensions/GenericHandlers
darcs-dev /extensions/Renderer2       fh.daimi.au.dk:/users/cgd/code/extensions/Renderer2

# windows libraries
win32 /libraries http://openengine.dk/data/libraries/boost-win32.zip
win32 /libraries http://openengine.dk/data/libraries/glew-win32.zip
win32 /libraries http://openengine.dk/data/libraries/sdl-win32.zip
win32 /libraries http://openengine.dk/data/libraries/dlls-win32.zip

# os x libraries

# linux libraries

# data
any /projects/ColladaLoader/data http://openengine.dk/data/projects/ThirdPersonEater/fish.tar.gz
