# OpenEngine Distribution.
# This file describes the default OpenEngine distribution.

# main repository
git / https://github.com/OpenEngineDK/openengine.git
git-dev / git@github.com:OpenEngineDK/openengine.git

# ColladaLoader project
git /projects/ColladaLoader     https://github.com/OpenEngineDK/projects-ColladaLoader.git
git-dev /projects/ColladaLoader git@github.com:OpenEngineDK/projects-ColladaLoader.git

# dist files
dist /extensions/SetupHelpers/SetupHelpers.dist			https://raw.githubusercontent.com/OpenEngineDK/extensions-SetupHelpers/master/SetupHelpers.dist
dist /extensions/Assimp/Assimp.dist   https://raw.githubusercontent.com/OpenEngineDK/extensions-Assimp/master/Assimp.dist


# standard set of extensions
git /extensions/FreeImage           https://github.com/OpenEngineDK/extensions-FreeImage.git
git /extensions/OpenGLSelection     https://github.com/OpenEngineDK/extensions-OpenGLSelection.git
git /extensions/OpenGLRenderer      https://github.com/OpenEngineDK/extensions-OpenGLRenderer.git
git /extensions/GenericHandlers     https://github.com/OpenEngineDK/extensions-GenericHandlers.git
git /extensions/Renderer2 	      https://github.com/OpenEngineDK/extensions-Renderer2.git

git-dev /extensions/FreeImage       git@github.com:OpenEngineDK/extensions-FreeImage.git
git-dev /extensions/OpenGLSelection git@github.com:OpenEngineDK/extensions-OpenGLSelection.git
git-dev /extensions/OpenGLRenderer  git@github.com:OpenEngineDK/extensions-OpenGLRenderer.git
git-dev /extensions/GenericHandlers git@github.com:OpenEngineDK/extensions-GenericHandlers.git
git-dev /extensions/Renderer2       git@github.com:OpenEngineDK/extensions-Renderer2.git

# windows libraries
win32 /libraries http://openengine.dk/data/libraries/boost-win32.zip
win32 /libraries http://openengine.dk/data/libraries/glew-win32.zip
win32 /libraries http://openengine.dk/data/libraries/sdl-win32.zip
win32 /libraries http://openengine.dk/data/libraries/dlls-win32.zip

# os x libraries

# linux libraries

# data
any /projects/ColladaLoader/data http://openengine.dk/data/projects/ThirdPersonEater/fish.tar.gz
any /resources		http://www.openengine.dk/data/images/SaintLazarusChurch.zip
