# OpenEngine Distribution.
# This file describes the default OpenEngine distribution.

# main repository
darcs / http://openengine.dk/code/openengine

# ColladaLoader project
darcs /projects/ColladaLoader http://openengine.dk/code/branches/ColladaLoader

# dist files
dist /extensions/SetupHelpers/SetupHelpers.dist    http://openengine.dk/code/extensions/SetupHelpers/SetupHelpers.dist

# standard set of extensions
darcs /extensions/ColladaResource http://openengine.dk/code/extensions/ColladaResource
darcs /extensions/SetupHelpers    http://openengine.dk/code/extensions/SetupHelpers

darcs-dev /extensions/ColladaResource fh.daimi.au.dk:/users/cgd/code/extensions/ColladaResource
darcs-dev /extensions/SetupHelpers    fh.daimi.au.dk:/users/cgd/code/extensions/SetupHelpers

# windows libraries
win32 /libraries http://openengine.dk/data/libraries/boost-win32.zip
win32 /libraries http://openengine.dk/data/libraries/glew-win32.zip
win32 /libraries http://openengine.dk/data/libraries/sdl-win32.zip
win32 /libraries http://openengine.dk/data/libraries/dlls-win32.zip
win32 /libraries http://openengine.dk/data/libraries/colladadom2.1-win32.zip

# os x libraries
#darwin /libraries http://openengine.dk/data/libraries/oe-mac-i32-packages.zip
darwin /libraries http://openengine.dk/data/libraries/Collada-mac.tar.gz

# linux libraries
linux /libraries http://openengine.dk/data/libraries/collada-linux.tar.gz

# data
any /projects/ColladaLoader/data http://www.daimi.au.dk/~u052178/oe/rock.dae
any /projects/ColladaLoader/data http://www.daimi.au.dk/~u052178/oe/rock.tga
